body {
  font-family: $helvetica;
}

h1 {
  margin-top: 0;
  font-size: em(32);
}

h2 {
  font-size: em(22);
}

a {
  color: $blue;

  &:hover {
    color: darken($blue, 15%);
    text-decoration: none;
  }
}

.subheader {
  font-weight: 300;
  color: $grey;
}
